bb_venv/
.cache/
.cache/
bb_main
.cache/*
test_runner
venv

# Ignore the secret webhook file
.env*

# Ignore video files and folder
security_videos/
*.mjpeg
*.mp4

# Ignore Unity lib files 
tests/unity/
